<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    {{> nav}}
    <div class="col-md-12 dw-background-img-1">
    </div>
    <div class="container">
        <div class="page-header dw-page-header">
            <h1>Solutions <small>showcasing our solutions</small></h1>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail dw-thumbnail">
                    <img src="http://placehold.it/150x150" alt="Solution 1">
                    <div class="caption">
                        <h3>Solution 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor mi massa, in ultrices odio
                            vestibulum in. Suspendisse tempor ipsum nibh, sit amet sagittis sem consectetur nec. Interdum
                            et malesuada fames ac ante ipsum primis in faucibus. Vivamus accumsan purus vitae libero feugiat
                            eleifend. Praesent vel nisl non magna lacinia.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-right" role="button">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail dw-thumbnail">
                    <img src="http://placehold.it/150x150" alt="Solution 2">
                    <div class="caption">
                        <h3>Solution 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor mi massa, in ultrices odio
                            vestibulum in. Suspendisse tempor ipsum nibh, sit amet sagittis sem consectetur nec. Interdum
                            et malesuada fames ac ante ipsum primis in faucibus. Vivamus accumsan purus vitae libero feugiat
                            eleifend. Praesent vel nisl non magna lacinia.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-right" role="button">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail dw-thumbnail">
                    <img src="http://placehold.it/150x150" alt="Solution 3">
                    <div class="caption">
                        <h3>Solution 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor mi massa, in ultrices odio
                            vestibulum in. Suspendisse tempor ipsum nibh, sit amet sagittis sem consectetur nec. Interdum
                            et malesuada fames ac ante ipsum primis in faucibus. Vivamus accumsan purus vitae libero feugiat
                            eleifend. Praesent vel nisl non magna lacinia.
                        </p>
                        <p>
                            <a href="#" class="btn btn-primary pull-right" role="button">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </footer>
</body>

</html>